<%= form_for @book, remote: true do |form| %>

  <div class="actions">
    <%= form.label :title, for: 'book_name' %><br/>
    <%= form.text_field :title, required: true, id: 'book_name' %>
    <%= form.submit %>
  </div>
<% end %>
